<IfModule mod_rewrite.c>
  RewriteEngine on
  # Pass all requests not referring directly to files or directories in the filesystem to index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?to=$1 [L]
</IfModule>
